.App {
  text-align: center;
}

body {
  font-size: 20px;

}

ul {
  list-style: decimal;
  text-align: left;
  list-style-position: inside;
  padding-left: 250px;
  padding-right: 250px;

}

button {
  font-size: 20px;
  padding: 20px;
  margin: 10px;
  border-radius: 7%;
  font-weight: bold;
}
button.killer {
  background-color: #c20808;
  color: white;
}
button.summoner {
  background-color: greenyellow;
}
h4 {
  color: Purple
}
input[type=number] {
  width: 4%;
  padding: 7px 3px;
  margin: 15px;
  font-size: 20px;
}
select {
  width: 20%;
  padding: 7px 3px;
  margin: 15px;
  font-size: 20px;
}
.bignessSelect {
  outline: 2px solid black;
  margin: 5px;
  padding: 2px;
  background-color: rgba(0, 255, 174, 0.69);
}